// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;


// Theme Colors
$blue: #3387b2;
$blue-light: #71b0cf;
$blue-opacity: #3388b213;

