/*=======================================================
============ Global Properties
=======================================================*/
/* enable absolute positioning */
.form-group.booking {
    display: flex;

    .custom-input {
        background-color: transparent;
        border-radius: 10px;

        &::-webkit-input-placeholder {
            /* Edge */
            color: rgb(199, 199, 199);
        }

        &:-ms-input-placeholder {
            /* Internet Explorer */
            color: rgb(199, 199, 199);
        }

        &::placeholder {
            color: rgb(199, 199, 199);
        }
    }
    i {
        position: absolute;
        color: #fff;
        font-size: 24px;
        left: 10%;
        top: 15px;
    }
    input,select{
        color: #fff;
        border: 1px solid rgb(211, 211, 211);
    }
}


.testimonial-section .inner-content{
    h6,h5{
        color: #fff;
    }
    background-color: #3387b2;
    box-shadow: -10px 10px #3388b260;
    .sec-title{
        margin-bottom: 0px !important;
    }
    .about-content{
        padding: 20px 0px;
        color: rgb(199, 199, 199);
    }
    hr{
        background-color: #fff !important;
        height: 1px;
    }
    .working-hours{
        color: #fff;
    }
}
