/*======================================================
======== Global Properties
======================================================*/
// body{
//     display: none;
// }
.section-padding {
    padding: 150px 0px 150px 0px !important;
}


.bg-style {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.font-blue {
    color: $blue !important;
}

// Btn
.theme-btn-one {
    border-radius: 10px !important;
    padding: 12px 40px;
    &.blue-opcity{
        background: $blue-opacity;
    }
    &.white{
        background: #fff;
        color: $blue !important;
        &:hover{
            color: #fff !important;
        }
    }
}

// custom Inputs Stlye
.input__box {

    position: relative;

    .input__icon {
        position: absolute;
        left: 20px;
        top: 15px;
        font-size: 20px;
        color: #fff;
    }

    // Input
    input,
    select {
        width: 100%;
        padding: 12px 10px 12px 50px;
        background-color: transparent;
        border-radius: 10px;
        border: 1px solid rgba(255, 255, 255, 0.5);
        color: #fff;

        &::-webkit-input-placeholder {
            /* Edge */
            color: rgb(199, 199, 199);
        }

        &:-ms-input-placeholder {
            /* Internet Explorer */
            color: rgb(199, 199, 199);
        }

        &::placeholder {
            color: rgb(199, 199, 199);
        }

        &:active,
        &:focus,
        &:hover {
            outline: none;
            background-color: transparent !important;
        }
    }

    select {
        color: rgb(199, 199, 199);
        padding: 15px;
    }

    // Date/Time
    input[type="date"]::-webkit-inner-spin-button,
    input[type="date"]::-webkit-calendar-picker-indicator,
    input[type="time"]::-webkit-inner-spin-button,
    input[type="time"]::-webkit-calendar-picker-indicator {
        display: none;
        -webkit-appearance: none;
    }

}
