/*======================================================
======== Global Properties
======================================================*/
// body{
//     display: none;
// }
.relative-header{
    position: relative !important;
}

.pull-1{
    margin-right: 8.333333%;
}
@media (min-width: 768px) {
    .pull-md-3{
        margin-right: 25%;
    }
}
.handle-preloader{
    background-color: $blue !important;
}

.section-padding {
    padding: 150px 0px 150px 0px !important;
}


.bg-style {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

// mobile-nav-toggler
.menu-area .mobile-nav-toggler {
    border-radius: 7px;
    padding: 20px 15px;
}

.font-blue {
    color: $blue !important;
}

// Btn
.theme-btn-one {
    border-radius: 10px !important;
    padding: 12px 40px;
    &.blue-opcity{
        background: $blue-opacity;
    }
    &.white{
        background: #fff;
        color: $blue !important;
        &:hover{
            color: #fff !important;
        }
    }
}

// custom Inputs Stlye
.input__box {

    position: relative;

    .input__icon {
        position: absolute;
        left: 20px;
        top: 15px;
        font-size: 20px;
        color: #fff;
    }

    // Input
    input,
    select {
        width: 100%;
        padding: 10px 10px 10px 50px;
        background-color: transparent;
        border-radius: 10px;
        border: 1px solid rgba(255, 255, 255, 0.5);
        color: #fff;

        &::-webkit-input-placeholder {
            /* Edge */
            color: rgb(199, 199, 199);
        }

        &:-ms-input-placeholder {
            /* Internet Explorer */
            color: rgb(199, 199, 199);
        }

        &::placeholder {
            color: rgb(199, 199, 199);
        }

        &:active,
        &:focus,
        &:hover {
            outline: none;
            background-color: transparent !important;
        }
    }

    select {
        color: rgb(199, 199, 199);
        padding: 15px;
    }

    // Date/Time
    input[type="date"]::-webkit-inner-spin-button,
    input[type="date"]::-webkit-calendar-picker-indicator,
    input[type="time"]::-webkit-inner-spin-button,
    input[type="time"]::-webkit-calendar-picker-indicator {
        display: none;
        -webkit-appearance: none;
    }

}



/*======================================================
======== Page-Title
======================================================*/
.page-title{
    padding: 0px;
    height: 450px;
    &::before{
        background: rgba(0, 0, 0, 0.7);
    }
    .auto-container{
        .content-box{
            position: absolute;
            bottom: 0px;
            right: 0px;
            padding: 20px 20px 20px 30%;
            background-color: $blue;
            border-radius: 15px 0px 0px 0px ;
            .inner-box{
                position: relative;
                margin-right: 10vw;
                .title{
                    text-align: right;
                    padding: 10px 0px;
                }
                p{
                    text-align: right;
                    color: #fff;
                }
            }
            @media (max-width: 991px) {
                padding: 20px;
                border-radius: 0px ;
                width: 100%;
                .inner-box{
                    position: relative;
                    margin: 0;
                }
            }
        }
    }
}
