/*=======================================================
============ Global Properties
=======================================================*/
#home-page {

    /* enable absolute positioning */
    .form-group.booking {
        display: flex;

        .custom-input {
            background-color: transparent;
            border-radius: 10px;

            &::-webkit-input-placeholder {
                /* Edge */
                color: rgb(199, 199, 199);
            }

            &:-ms-input-placeholder {
                /* Internet Explorer */
                color: rgb(199, 199, 199);
            }

            &::placeholder {
                color: rgb(199, 199, 199);
            }
        }

        i {
            position: absolute;
            color: #fff;
            font-size: 24px;
            left: 10%;
            top: 15px;
        }

        input,
        select {
            color: #fff;
            border: 1px solid rgb(211, 211, 211);
        }
    }


    .testimonial-section .inner-content {

        h6,
        h5 {
            color: #fff;
        }

        background-color: #3387b2;
        box-shadow: -10px 10px #3388b260;

        .sec-title {
            margin-bottom: 0px !important;
        }

        .about-content {
            padding: 20px 0px;
            color: rgb(199, 199, 199);
        }

        hr {
            background-color: #fff !important;
            height: 1px;
        }

        .working-hours * {
            color: #fff;
        }
    }


    .team-section{
        .social-style-one li
        {
            float: inherit;
            a{
                color: #ffffff;
                background: #3387b2;
            }
        }
    }

    /*=== Blog Section ===*/
    .custom-blog-section{
        padding: 150px 0px 150px 0px;
        .custom-post{
            overflow: hidden;
            position: relative;
            transition: all 0.5s ease-in-out;
            -webkit-transition: all 0.5s ease-in-out;
            -moz-transition: all 0.5s ease-in-out;
            -ms-transition: all 0.5s ease-in-out;
            -o-transition: all 0.5s ease-in-out;

            // Big Post
            &.big-post{
                border-radius: 20px ;
                width: 100%;
                height: 600px;
                .overlay{
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    background-color: rgba(0,0,0,0.25);
                    z-index: 2;
                }
                .date{
                    text-align: center;
                    position: absolute;
                    background-color: #3387b2;
                    padding: 20px 30px;
                    top: 10px;
                    left: 20px;
                    font-size: 20px;
                    border-radius: 10px;
                    p{
                        color: #fff;
                    }
                }
                .heading{
                    position: absolute;

                    bottom: 20px;
                    width: 100%;
                    *{
                        padding: 7px 10px;
                        color: #fff;
                    }
                }
            }

            // Original Post
            &.original-post{
                border-radius: 0px 20px 20px  0px ;
                border-bottom: 5px solid #3387b2;
                background-color: #3388b223;
                width: 100%;
                height: 280px;
                .post-content{
                    padding: 0px 10px;
                    *{
                        padding: 7px 0px;
                    }
                    .date{
                        color: #3387b2;
                    }

                }
            }
        }
    }

}
